# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.venv
venv/
ENV/

# --- Environment Variables & Secrets ---
.env
.env.local

# --- IDEs & Editors ---
.idea/
*.swp
*.swo
session.vim

# --- Project Specific ---
.vagus/
tmp/
data/
